<div class="navigation">
  <div class="navi_item"><a href="./" class="navigation">Фильмы</a><div class="navi_spacer"></div></div>
  <div class="navi_item"><a href="../../series/list/" class="navigation">Сериалы</a><div class="navi_spacer"></div></div>
  <div class="navi_item"><a href="../../vsti/list/" id="A1" class="navigation">VST инструменты</a><div class="navi_spacer"></div></div>
</div>