<div id="content">
  <div class="table_header">
    <div class="table_header_text">Создание нового фильма</div>
    </div>
    <div class="table_content">
    </div>
    <div class="table_control_panel">
      <div class="OTC CUC LTC"><a id="ControlContentPlaceHolder_lbSave" class="PTC AUC" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ControlContentPlaceHolder$lbSave", "", true, "", "", false, true))'>Сохранить</a><div class="ITC"></div></div>
      </div>
      <div class="table_content_in">
        <div class="item">

          <% form_for @movie, :url => {:action => "create"} do |f| %>
          <div id="MainContentPlaceHolder_UpdatePanel2">
            <div>
              <div class="header">
                <h3><span>Информация о фильме</span></h3>
              </div>
              <table width="100%" border="0">
                <tbody><tr>
                  <td><span>Номер диска</span></td>
                  <td><input id="movie_disknum" name="movie[disknum]" type="text" class="table_textbox" /></td>
                </tr>
                <tr>
                  <td width="20%"><span>Название</span></td>
                  <td width="80%"><%= f.text_field :name %></td>
                </tr>
                <tr>
                  <td><span>Название в оригинале</span></td>
                  <td>
                    <div>
                      <%= f.text_field :orig_name %>
                      <a id="but_get_orig_name" class="button" href="">IMDB</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span>Год выпуска</span></td>
                  <td>
                    <div id="MainContentPlaceHolder_MovieDetails_upYear">
                      <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbYear" type="text" id="MainContentPlaceHolder_MovieDetails_tbYear" class="table_textbox" />
                      <a id="MainContentPlaceHolder_MovieDetails_lbGetYear" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetYear", "", true, "", "", false, true))'>IMDB</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label5">Жанр</span></td>
                  <td>
                    <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbGenre" type="text" id="MainContentPlaceHolder_MovieDetails_tbGenre" class="table_textbox" />
                    <a id="MainContentPlaceHolder_MovieDetails_lbGenre" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGenre", "", true, "", "", false, true))'>IMDB</a>
                  </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label6">Режиссёр</span></td>
                  <td>
                    <div id="MainContentPlaceHolder_MovieDetails_upDirector">
                      <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbDirector" type="text" id="MainContentPlaceHolder_MovieDetails_tbDirector" class="table_textbox" />
                      <a id="MainContentPlaceHolder_MovieDetails_lbDirector" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbDirector", "", true, "", "", false, true))'>IMDB</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label1">Продюссер</span></td>
                  <td>
                    <div id="MainContentPlaceHolder_MovieDetails_upProducer">
                      <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbProduced" type="text" id="MainContentPlaceHolder_MovieDetails_tbProduced" class="table_textbox" />
                      <a id="MainContentPlaceHolder_MovieDetails_lbProducer" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbProducer", "", true, "", "", false, true))'>IMDB</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label18">Звёзды</span></td>
                    <td>
                      <div id="MainContentPlaceHolder_MovieDetails_upStars">
                        <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbStars" type="text" id="MainContentPlaceHolder_MovieDetails_tbStars" class="table_textbox" />
                        <a id="MainContentPlaceHolder_MovieDetails_lbGetStars" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetStars", "", true, "", "", false, true))'>IMDB</a>
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label7">Актёры</span></td>
                    <td>
                      <div id="MainContentPlaceHolder_MovieDetails_upActors">
                        <textarea name="ctl00$MainContentPlaceHolder$MovieDetails$tbActors" rows="2" cols="20" id="MainContentPlaceHolder_MovieDetails_tbActors" class="table_textbox" style="height:111px;"></textarea>
                        <a id="MainContentPlaceHolder_MovieDetails_lbGetActors" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetActors", "", true, "", "", false, true))'>IMDB</a>
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><span id="MainContentPlaceHolder_MovieDetails_Label8">Композитор</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbComposer" type="text" id="MainContentPlaceHolder_MovieDetails_tbComposer" class="table_textbox">
            <a id="MainContentPlaceHolder_MovieDetails_lbComposer" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbComposer", "", true, "", "", false, true))'>IMDB</a>
        </td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label10">Рейтинг IMDB</span></td>
        <td>
            <div id="MainContentPlaceHolder_MovieDetails_upRating">

                    <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbIMDB" type="text" id="MainContentPlaceHolder_MovieDetails_tbIMDB" class="table_textbox">
                    <a id="MainContentPlaceHolder_MovieDetails_lbGetRating" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetRating", "", true, "", "", false, true))'>IMDB</a>

	</div>
        </td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label11">Примечания</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbRemarks" type="text" id="MainContentPlaceHolder_MovieDetails_tbRemarks" class="table_textbox"></td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label12">Описание</span></td>
        <td><textarea name="ctl00$MainContentPlaceHolder$MovieDetails$tbDesc" rows="2" cols="20" id="MainContentPlaceHolder_MovieDetails_tbDesc" class="table_textbox" style="height:111px;"></textarea>
            <a id="MainContentPlaceHolder_MovieDetails_lbGetDescKinoteatr" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetDescKinoteatr", "", true, "", "", false, true))'>Кинотеатр</a>
        </td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label13">Ссылка на IMDB</span></td>
        <td>
            <div id="MainContentPlaceHolder_MovieDetails_upIMDB">

                    <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbIMDBLink" type="text" id="MainContentPlaceHolder_MovieDetails_tbIMDBLink" class="table_textbox">
                    <a id="MainContentPlaceHolder_MovieDetails_lbFindIMDB" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbFindIMDB", "", true, "", "", false, true))'>Загрузить</a>

	</div>
        </td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label14">Ссылка на КиноТеатр</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbKinoteatrLink" type="text" id="MainContentPlaceHolder_MovieDetails_tbKinoteatrLink" class="table_textbox">
        <a id="MainContentPlaceHolder_MovieDetails_lbFindKinopoisk" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbFindKinopoisk", "", true, "", "", false, true))'>Загрузить</a>
        </td>
    </tr>
</tbody></table>
    <div class="header">
        <h3><span id="MainContentPlaceHolder_MovieDetails_Label25">Тех. данные фильма</span></h3>
    </div>
<table width="100%" border="0">
    <tbody><tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label9">Звуковые дорожки</span></td>
        <td colspan="2"><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbLang" type="text" id="MainContentPlaceHolder_MovieDetails_tbLang" class="table_textbox"></td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label16">Продолжительность</span></td>
        <td>
            <div id="MainContentPlaceHolder_MovieDetails_upDuration">

                    <input name="ctl00$MainContentPlaceHolder$MovieDetails$tbDuration" type="text" id="MainContentPlaceHolder_MovieDetails_tbDuration" class="table_textbox">
                    <a id="MainContentPlaceHolder_MovieDetails_lbGetLenght" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$MainContentPlaceHolder$MovieDetails$lbGetLenght", "", true, "", "", false, true))'>IMDB</a>

	</div>
        </td>
    </tr>
    <tr>
        <td width="20%"><span id="MainContentPlaceHolder_MovieDetails_Label17">Размер файла</span></td>
        <td width="80%"><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbFileSize" type="text" id="MainContentPlaceHolder_MovieDetails_tbFileSize" class="table_textbox">
    </td></tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label19">Размер картинки</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbResolution" type="text" id="MainContentPlaceHolder_MovieDetails_tbResolution" class="table_textbox"></td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label20">Тип файла</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbFileType" type="text" id="MainContentPlaceHolder_MovieDetails_tbFileType" class="table_textbox"></td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label21">Скриншот №1</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbScreenshot1" type="text" id="MainContentPlaceHolder_MovieDetails_tbScreenshot1" class="table_textbox">
        </td>
    </tr>
    <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label22">Скриншот №2</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbScreenshot2" type="text" id="MainContentPlaceHolder_MovieDetails_tbScreenshot2" class="table_textbox">
        </td>
    </tr>
        <tr>
        <td><span id="MainContentPlaceHolder_MovieDetails_Label23">Скриншот №3</span></td>
        <td><input name="ctl00$MainContentPlaceHolder$MovieDetails$tbScreenshot3" type="text" id="MainContentPlaceHolder_MovieDetails_tbScreenshot3" class="table_textbox">
            </td>
    </tr>
</tbody></table>

<div id="MainContentPlaceHolder_MovieDetails_UpdateProgress2" style="display:none;" role="status" aria-hidden="true">

        <div class="loading"><img src="../../Icons/loading.gif" align="right"></div>
        <script type="text/javascript">
            jQuery.ajaxStart();
        </script>

	</div>

            </div>

          </div>
          <% end %>
</div>

                </div>
                <div>

<div class="table_control_panel">
    <div class="OTC CUC LTC"><a id="BottomControlContentPlaceHolder_LinkButton1" class="PTC AUC" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$BottomControlContentPlaceHolder$LinkButton1", "", true, "", "", false, true))'>Сохранить</a><div class="ITC"></div></div>
</div>

                </div>
                <div class="table_bottom">
                </div>
            </div>
